@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.Settings
@using Volo.Abp.AspNetCore.MultiTenancy
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Microsoft.Extensions.Options
@using Volo.Abp.MultiTenancy
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.AntiForgery
@using Volo.Abp.AspNetCore.Mvc.UI.Components.LayoutHook
@using Volo.Abp.Ui.Branding
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetScripts
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetStyles
@using Smp.NobleUI.Localization
@model Volo.Abp.Account.Web.Pages.Account.LoginModel
@inject IOptions<AbpMultiTenancyOptions> MultiTenancyOptions
@inject IHtmlLocalizer<NobleUIResource> L
@inject Volo.Abp.Settings.ISettingProvider SettingProvider
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IBrandingProvider BrandingProvider
@inject IOptions<AbpMultiTenancyOptions> MultiTenancyOptions
@inject ICurrentTenant CurrentTenant
@inject IStringLocalizer<AbpUiMultiTenancyResource> MultiTenancyStringLocalizer
@inject ITenantResolveResultAccessor TenantResolveResultAccessor
<!-- icheck bootstrap -->
<link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.css">



@if (Model.EnableLocalLogin)
{

    <div class="page-content d-flex align-items-center justify-content-center">

        <div class="row w-100 mx-0 auth-page">
            <div class="col-md-8 col-xl-6 mx-auto">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 pr-md-0 align-self-center">
                            <div class="text-center">
                                <img src="~/themes/nobleui/images/logo.png" class="align-middle" />
                            </div>
                        </div>
                        <div class="col-md-8 pl-md-0">
                            <div class="auth-form-wrapper px-4 py-5">
                                <a href="#" class="noble-ui-logo d-block mb-2">Pondera<span>Industry</span></a>
                                @if (MultiTenancyOptions.Value.IsEnabled && (TenantResolveResultAccessor.Result?.AppliedResolvers?.Contains(CookieTenantResolveContributor.ContributorName) == true))
                                {
                            <a id="AbpTenantSwitchLink" href="javascript:;" class="btn pl-0" style="margin-bottom: 10px;">
                                <i class="fa fa-group" style="font-size: 1.2em;"></i> @L["Site"]
                                @if (CurrentTenant.Id == null)
                                {
                                    <span>
                                        @MultiTenancyStringLocalizer["NotSelected"]
                                    </span>
                                }
                                else
                                {
                                    <strong>@(CurrentTenant.Name ?? CurrentTenant.Id.Value.ToString())</strong>
                                }
                            </a>
                                }

                            <h5 class="text-muted font-weight-normal mb-4">@L["AccountWelcome"]</h5>
                                @if (Model.EnableLocalLogin)
                                {
                                    <form method="post" class="mt-4">
                                        <input asp-for="ReturnUrl" />
                                        <input asp-for="ReturnUrlHash" />
                                        <div class="form-group">
                                            <label asp-for="LoginInput.UserNameOrEmailAddress">@L["UserNameorEmail"]</label>
                                            <input asp-for="LoginInput.UserNameOrEmailAddress" class="form-control" />
                                            <span asp-validation-for="LoginInput.UserNameOrEmailAddress" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="LoginInput.Password"></label>
                                            <input asp-for="LoginInput.Password" class="form-control" />
                                            <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
                                        </div>
                                        <abp-row>
                                            <abp-column>
                                                <abp-input asp-for="LoginInput.RememberMe" class="mb-4" />
                                            </abp-column>
                                            <abp-column class="text-right">
                                                <a href="@Url.Page("./ForgotPassword", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})">@L["ForgotPassword"]</a>
                                            </abp-column>
                                        </abp-row>
                                        <abp-button type="submit" button-type="Primary" name="Action" value="Login" class="btn-block btn-lg mt-3">@L["Login"]</abp-button>
                                        @if (Model.ShowCancelButton)
                                        {
                                            <abp-button type="submit" button-type="Secondary" formnovalidate="formnovalidate" name="Action" value="Cancel" class="btn-block btn-lg mt-3">@L["Cancel"]</abp-button>}
                                    </form>}
                            </div>

                            @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
                            {
                                <div class="alert alert-warning">
                                    <strong>@L["InvalidLoginRequest"]</strong>
                                    @L["ThereAreNoLoginSchemesConfiguredForThisClient"]
                                </div>}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



}

